<ion-header>
  <ion-navbar color="primary">
    <ion-title>Lista de terminados</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let list of _listaDeseos.lists | pendientes:true; let i = index">
    <ion-item color="dark" (click)="showDetail(lista,i)">
      <h2> {{ list.nombre}}</h2>
      <ion-note item-right>
        {{ list.item.length}} items
      </ion-note>
    </ion-item>

    <ion-list>
      <ion-item (click)="showDetail(list,i)"
        *ngFor="let item of list.item | slice:0:2 ">
        <ion-icon *ngIf="!item.completed" ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon>
        <ion-icon *ngIf="item.completed" ios="ios-square-outline" md="md-square-outline"></ion-icon>

          {{ item.nombre }}
      </ion-item>

      <ion-item class="text-center" *ngIf="list.item.length > 2">
          <ion-icon color="primary" ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
